/*
/.**

!/.config/
!/.config/**

!/.config/Code/
!/.config/Code/User/
!/.config/Code/User/settings.json

/.config/Code/*
!/.config/Code/User/settings.json

/.config/dconf/
/.config/go/
/.config/obs-studio/
/.config/Proton/
/.config/pulse/
/.config/spicetify/
/.config/spotify/
/.config/systemd/
/.config/torbrowser/
/.config/vesktop/

!/.github/
!/.github/**

!/.fzf.zsh
!/.gtkrc-2.0
!/.p10k.zsh
!/.zshrc

!/APO.gif
!/APO.png
!/miniarch.txt

!/.gitignore

