/*
/.**

!/.config/
!/.config/**

!/.config/Code/User/settings.json

/.config/astro/
/.config/obsidian/
/.config/Code/
/.config/dconf/
/.config/go/
/.config/obs-studio/
/.config/Proton/
/.config/pulse/
/.config/spicetify/
/.config/spotify/
/.config/systemd/
/.config/torbrowser/
/.config/vesktop/
/.config/unity3d/
/.config/wireshark/

!/.github/
!/.github/**

!/assets/
!/assets/**

!/.fzf.zsh
!/.gtkrc-2.0
!/.p10k.zsh
!/.zshrc

!/APO.gif
!/APO.png
!/miniarch.txt

!/.gitignore

